<h2>Log In</h2>

<form action="/logins/create" method="post">
  <p>
    Email:
    <input type="text" name="email">
  </p>

  <p>
    Password:
    <input type ="text" name="password">
  </p>

  <input type="submit">
</form> 