<a href="/logins/delete">Log out</a>
<br>
<br>

<% if @user != nil %>
  <% @user.get_errors.each do | error_message| %>
    <p><%= error_message %></p>
  <% end %>
<% end %> 

<form action="/user_added" method="post">
  <fieldset>
    <legend>Create a new user</legend>
    <br>Name: <br>
    <input type="text" name="name"> <br><br>    
    Email:<br>
    <input type="text" name="email"><br><br>
    Password: <br>
    <input type="text" name="password"><br><br>
    <input type="submit">
  </fieldset>
</form>

<br>
<br>
<p><a href="/">Home</a></p>