<p>All users:</p>

<% @all_users.each do |x| %>
  <p>
    <a href="view_one/<%= x.id %>">
      <%= x.name %>
    </a>
  </p>
  <form action="delete_user/<%= x.id %>" method "get">
    <input type="submit" value="Delete">
  </form>
    <form action="update_user/<%= x.id %>" method "post">
    <input type="submit" value="Update">
  </form>
<% end %>

<br>
<br>
<br>
<p><a href="/">Home</a></p>