<form action="/todo_added" method="post">
  <fieldset>
    <legend>Create a new to do list</legend>
    <p> 
        Title: 
    </p>
    <input type="text" name="title"> 
    
    <p>
        Description:
    </p>
    <input type="text" name="description"> 
  
    <p>  <br>
        Task Owner:
        <select name="user_id">
            <option>Select an owner...</option>

            <% @users.each do |user| %>
                <option value="<%= user.id %>">
                <%= user.name %></option>
            <% end %>
        </select>
    </p>
    <br>
   <p>
    Category:
    <select name="category_id">
      <option>Select a category...</option>

      <% @categories.each do |x| %>
        <option value="<%= x.id %>">
        <%= x.name %></option>
      <% end %>
    </select>
  </p>
  <br>
    <input type="submit">
  </fieldset>
</form>