<form action="/todo_added" method="post">
  <fieldset>
    <legend>Create a new to do list</legend>
    <br> Title: <br>
    <input type="text" name="title"> <br>
    <br> Description: <br>
    <input type="text" name="description"> <br>
    <br> User ID??? <br>
    <input type="number" name="user_id"> <br>
    <input type="submit">
  </fieldset>
</form>