<a href="/logins/delete">Log out</a>
<br>
<br>

<% if @category != nil %>
  <% @category.get_errors.each do | error_message| %>
    <p><b><%= error_message %></b></p>
  <% end %>
<% end %> 

<form action="/categories/create" method="post">
  <fieldset>
    <legend>Create a new to do list category</legend>
    <p>Name:</p> <input type="text" name="name"> <input type="submit">
  </fieldset>
</form>