<p><a href="/users/new">Add a new user</a></p>
<p><a href="/users">View/Update/Delete users</a></p>
<br>
<br>
<p><a href="/categories/new">Add a new To Do list category</a></p>
<p><a href="/categories">View/Update/Delete categories</a></p>
<br>
<br>
<p><a href="/">Home</a></p>
<br>
<br>
<a href="/logins/delete">Log out</a>