<h1>JONES FAMILY TO DO LIST</h1>

<p><a href="/logins/new">LOG IN!</a></p>
<br>
<br>
<p><a href="/new_todo">Add a new To Do list</a></p>
<br>
<p><a href="/all_todos">View all To Do lists</a></p>
<br>
<br>
<p><a href="/admin">Admin</a></p>